In [3]:
import pandas as pd

df_imdb = pd.read_csv('./data/IMDB_Movie.csv')
df_imdb_export = df_imdb[['director_name', 'movie_title', 'title_year']]
df_imdb_export.head(3)

    director_name                                movie_title  title_year
0   James Cameron                                  Avatar \t      2009.0
1  Gore Verbinski  Pirates of the Caribbean: At World's End       2007.0
2      Sam Mendes                                   Spectre       2015.0

In [4]:
# export to csv with index, this is default
df_imdb_export.to_csv('./data/IMDB_Movie_3columns_with_index.csv')

In [5]:
# export to csv without index
df_imdb_export.to_csv('./data/IMDB_Movie_3columns_without_index.csv', index=False)

In [6]:
# export to json
df_imdb_export.to_json('./data/IMDB_Movie_3columns.json')

In [7]:
# export to excel
df_imdb_export.to_excel('./data/IMDB_Movie_3columns.xls', index=False)

In [8]:
# export to html
df_imdb_export.to_html('./data/IMDB_Movie_3columns.html', index=False)